body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
}


header {
  display:flex;
  justify-content: space-between;
  
}
.logoinsta{
  width: 18vw
}

.container {
  background :linear-gradient(#1C5380 , 95%, #06365F) no-repeat; 
  background-size: 100% 40%;
  display: flex;
  flex-direction: column;
}
main {
  background: white;
  border-radius: 5px;
  height: 48vh;
  width: 25vw;
  padding: 4% 10%
}
main > p > span {
  font-weight: 600;
}

.stores{
  margin-top: 8% 
}
.apple {
  margin-right: 7%;
}

.tagline{
  color: #06365F;
  font-size: 1.6rem;
  font-weight: 600;
  margin-right: 30%
}

.group1{
  display: flex;
  justify-content: space-evenly;
  height: 65vh;
  width: 70vw;
  margin: auto;
  margin-top: 8% ;
}
.group1 .phones {
  height: 59vh; 
}
.group2{
  width: 60vh;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home{
  width: 12vh;
  height: 4vh;
  background :linear-gradient(#1C5380 , 95%, #06365F) no-repeat; 
  display: flex;
  border: 1px solid #06365F;
  margin-top: 10%
}
.logoinsta{
  margin-top: 5%
}
 .logoHome {
  width: 2vw;
  object-fit: contain;
  margin: auto;
 }
 .login {
  color: white;
  margin: auto;
  text-decoration: none;
}
footer{
  margin: 4% 30%;
  display: flex;
  justify-content: space-evenly;
}

footer > a{
  text-decoration: none;
  color: #1C5380;
  font-weight: 600;
}

.container:nth-child(1) {
  flex: 1;
}
