body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100vh;
}


header {
  display:flex;
  justify-content: space-between;
  
}
.logoInsta{
  width: 200px;
}
.container {
  background :linear-gradient(#1C5380 , 95%, #06365F) no-repeat; 
  background-size: 100vw 35vh;
  display: flex;
  flex-direction: column;
}
main {
  background: white;
  border-radius: 5px;
  height: 48vh;
  padding: 10px 50px
}
main > p > span {
  font-weight: 600;
}

.stores{
  margin-top: 30px 
}
.apple {
  margin-right: 20px;
}

.tagline{
  color: #06365F;
  font-size: 1.6em;
  font-weight: 600;
  margin-right: 100px
}

.group1{
  display: flex;
  justify-content: space-evenly;
  height: 65vh;
  width: 80%;
  margin: auto;
  margin-top: 100px ;
}
.group1 .phones {
  height: 59vh; 
}
.group2{
  width: 60vh;
  height: 65vh;
}
.home{
  width: 12vh;
  height: 4vh;
  background :linear-gradient(#1C5380 , 95%, #06365F) no-repeat; 
  display: flex;
  border: 1px solid #06365F;
  margin-top: 50px
}
.logoinsta{
  margin-top: 10px
}
 .logoHome {
  width: 30px;
  object-fit: contain;
  margin: auto;
 }
 .login {
  color: white;
  margin: auto;
  text-decoration: none;
}
footer{
  margin: 50px 450px;
  display: flex;
  justify-content: space-evenly;
}

footer > a{
  text-decoration: none;
  color: #1C5380;
  font-weight: 600;
}

.container:nth-child(1) {
  flex: 1;
}
